<div class="body">
  <div class="main">
    <header>
      <img src="../../assets/logo-branco.svg" alt="" srcset="">
      <p class="logo-text">Devotee</p>
    </header>
    <div class="text">
        <h1 class="title">
          <!-- {{ title }} -->
          Seja bem-vindo!
        </h1>
        <p class="sub-title">

          <!-- {{ subTitle }} -->
          Agora ficou mais fácil conhecer sua cara metade. Crie uma conta para continuar
        </p>
    </div>
    <div class="buttons">
        <a href="" mat-raised-button	  class="create-account">
          <div>
            <!-- {{ btnCreateAccout }}  -->
            Criar conta</div>
        </a>
        <a href="" mat-raised-button	class="login">
          <div>
            <!-- {{ btnLogin }}  -->
            Entrar</div>
        </a>
        <a href="" mat-raised-button class="login-fb">
          <img src="../../assets/facebook-logo.svg" alt="">
          <span>Entrar com o Facebook</span>
        </a>
        <p class="or">ou</p>
        <a href="" mat-raised-button class="login-qr">
          <span>Entrar com QR Code</span>
          <img src="../../assets/qa-code.svg" alt="">
        </a>
    </div>
  </div>

</div>
<app-footer></app-footer>
