<!-- <div class="container"> -->
  <div class="body">
    <div class="main">
      <header>
        <img src="../../assets/logo-branco.svg" alt="" srcset="">
        <p class="logo-text">Devotee</p>
      </header>
      <div class="text">
          <h1 class="title">
            <!-- {{ title }} -->
            Seja bem-vindo!
          </h1>
          <p class="sub-title">

            <!-- {{ subTitle }} -->
            Agora ficou mais fácil conhecer sua cara metade. Crie uma conta para continuar
          </p>
      </div>

      <app-buttons></app-buttons>
    </div>


  </div>
  <app-footer></app-footer>
<!-- </div> -->
