<footer>
  <div class="container-footer">
      <div class="logo-terms">
          <div class="logo">
              <a href="#"  rel="noopener noreferrer">
                  <img src="./assets/logo-branco.svg" alt="Logo Devotee" data-alt="altlogo"id="altfootlogo">
                  <span><p class="logo-text">Devotee</p> </span>
              </a>
          </div>
          <div class="terms-policy">
              <div class="content-terms policy-privacy">
                  <p class="tablinks click-policy-privacy policy my-btn-terms" data-click="click-policy-privacy"  color="#2E2C8A" id="footpolicy">Políticas de Privacidade</p>
              </div>
              <div class="content-terms terms">
                  <p class="tablinks click-terms terms my-btn-terms" data-click="click-terms"  color="#2E2C8A" id="footterms">Termos de uso</p>
              </div>
          </div>
      </div>
      <div class="download-copyright">
          <div class="download-app">
              <p>Baixe o aplicativo!</p>
              <div class="buttons-download">
                  <a href="https://play.google.com/store/apps/details?id=com.phurshell.devotee&hl=pt_BR" target="_blank" rel="noopener noreferrer">
                  <img src="./assets/playstore.svg" alt="Botão play store"  ></a>
                  <a href="https://apps.apple.com/br/app/devotee/id1331331692" target="_blank" rel="noopener noreferrer">
                  <img src="./assets/appstore.svg" alt="Botão Apple store" ></a>
              </div>
          </div>

      </div>
      <div id="copyright" class="copyright">Copyright</div>
  </div>
</footer>
