<div id="teste">

  <mat-tab-group>
    <mat-tab   label={{textFooter.tabs.termsuse.titleTabs}}> <p [innerHtml]="textFooter.tabs.termsuse.text" ></p> </mat-tab>
    <mat-tab   label={{textFooter.tabs.privacypolicy.titleTabs}}> <p [innerHtml]="textFooter.tabs.privacypolicy.text" ></p> </mat-tab>
    <mat-tab   label={{textFooter.tabs.cookiespolicy.titleTabs}}> <p [innerHtml]="textFooter.tabs.cookiespolicy.text" ></p> </mat-tab>
    <mat-tab   label={{textFooter.tabs.procedures.titleTabs}}> <p [innerHtml]="textFooter.tabs.procedures.text" ></p> </mat-tab>
    <mat-tab   label={{textFooter.tabs.security.titleTabs}}> <p [innerHtml]="textFooter.tabs.security.text" ></p> </mat-tab>
  </mat-tab-group>
</div>
