<div class="container-cards">
  <div class="cards who-are-you">
    <mat-card>
      <mat-card-title class="first-card">
      qqqq
      </mat-card-title>
    </mat-card>
  </div>
  <div class="block-cards container-card-info-perfil">
    <mat-card>
      <div class="container-perfil-photo">
        <mat-card-title>
        qqqqq
        </mat-card-title>
        <!-- [displayWith]="formatLabel" -->
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1"
        min="1"
        max="5000"></mat-slider>
      </div>
      <div class="block-cards container-more-photos">
        <mat-card-title>
         qqqq
        </mat-card-title>
      </div>
      <div class="block-cards container-form">
        <mat-card-title>
         qqqq
        </mat-card-title>

      </div>
    </mat-card>
    <button [routerLink]="['/create-continue']" mat-stroked-button class="btn-return-background-2" color="primary">btn</button>
    <button mat-raised-button color="primary" class="btn btn-next">Proximo</button>
  </div>
</div>
