$primary: #ffffff;
$secundary:#EC1200;
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "create-account login"
  "login-fb login-fb"
  "or or"
  "login-qr login-qr"
  ;
  button{
    margin: 10px;
    span{
      margin: 1rem;
    }
  }
  .create-account{
    grid-area: create-account;
    background-color: $primary;
    color: $secundary;
  }
  .login{
    grid-area: login;
    background-color: $secundary;
    color: $primary;
  }
  .login-fb{
    grid-area: login-fb;
    background-color: #1977F5;
    color: $primary;
    img{
      max-width: 37px;
    }
  }
  .or{
    grid-area: or;
    text-align: center;
  }
  .login-qr{
    grid-area: login-qr;
    background-color: $primary;
    color: #505050;
  }

}
@media  only screen and (min-width: 700px) {
    .buttons{
      grid-area: buttons;
      grid-template-columns: 1fr 1fr ;
      grid-template-areas:
      "create-account login"
      "login-fb login-fb"
      "or or"
      "login-qr login-qr";
      max-width: 100%;
      width: 380px;
    }
}

@media  only screen and (min-width: 1250px) {
  .buttons{
    max-width: 395px;
    width: 395px;
  }
}
