<div class="buttons">
  <button href="" mat-raised-button class="create-account">
    <div>
      {{ text.btnCreateAccout }}
    </div>
  </button>
  <button [routerLink]="['/signin']" mat-raised-button  class="login">
    <div>
      {{ text.btnLogin }}
    </div>
  </button>
  <button href="" mat-raised-button class="login-fb">
    <img src="../../assets/facebook-logo.svg" alt="">
    <span>{{ text.btnFb }}</span>
  </button>
  <p class="or">ou</p>
  <button [routerLink]="['/signinqr']" mat-raised-button class="login-qr">
    <span>{{ text.btnQr }}</span>
    <img src="../../assets/qa-code.svg" alt="">
  </button>
</div>
