<div class="buttons">
  <a href="" mat-raised-button class="create-account">
    <div>
      <!-- {{ btnCreateAccout }}  -->
      Criar conta</div>
  </a>
  <a href="" mat-raised-button class="login">
    <div>
      <!-- {{ btnLogin }}  -->
      Entrar</div>
  </a>
  <a href="" mat-raised-button class="login-fb">
    <img src="../../assets/facebook-logo.svg" alt="">
    <span>Entrar com o Facebook</span>
  </a>
  <p class="or">ou</p>
  <a href="" mat-raised-button class="login-qr">
    <span>Entrar com QR Code</span>
    <img src="../../assets/qa-code.svg" alt="">
  </a>
</div>
