<div class="container-create-account">
  <div class="example-container" >
    <mat-form-field >
      <mat-label>{{text.createAccount.labelInputName}}</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-hint></mat-hint>

      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        {{ text.createAccount.inputEmail.msgErrorEmailInvalid }}
      </mat-error>

      <mat-error *ngIf="emailFormControl.hasError('required')">
        {{ text.createAccount.inputEmail.emailIs }} <strong>{{ text.createAccount.inputEmail.required }}</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field >
      <mat-label> {{text.createAccount.inputPassword.labelInputPassword}} </mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      <mat-hint></mat-hint>

      <mat-error *ngIf="passwordFormControl.value.length < 6 && !passwordFormControl.hasError('required')">
        {{text.createAccount.inputPassword.msgErrorMinCharacters}}
      </mat-error>

      <mat-error *ngIf="passwordFormControl.hasError('required')">
        {{ text.createAccount.inputEmail.emailIs }} <strong>{{ text.createAccount.inputEmail.required }}</strong>
      </mat-error>

    </mat-form-field>


    <mat-form-field >
      <mat-label> {{text.createAccount.inputRepeatPassword.labelInputRepeatPassword}} </mat-label>
      <input matInput [type]="hide ? 'password' : 'text'"[formControl]="repeatPasswordFormControl" [errorStateMatcher]="matcher">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <!-- <mat-error *ngIf="repeatPasswordFormControl.value.length < 6 && !repeatPasswordFormControl.value == passwordFormControl.value">
        {{text.createAccount.inputPassword.msgErrorMinCharacters}}
      </mat-error> -->

      <mat-error *ngIf="repeatPasswordFormControl.value != passwordFormControl.value">
        {{ text.createAccount.inputRepeatPassword.msgErrorNotEqual }}
      </mat-error>
    </mat-form-field>

    <div class="create-account-terms">
      <mat-slide-toggle color='accent'>  </mat-slide-toggle> <span>{{text.checkTermuse}}</span>
      <a (click)=(openDialogRegister()) >{{text.textCheckTerms}}</a>
    </div>
    <div class="buttons-create-account">
      <button mat-raised-button color="primary" class="btn btn-create-account"> {{text.createAccount.btnCreateAccout}} </button>
      <button mat-raised-button [routerLink]="['/login']"  class="btn btn-rollback"> {{ text.createAccount.btnRollback }} </button>
    </div>
  </div>
</div>
