@import "../../../../app.component.scss";

.container-cards{
  max-width: 800px;
  margin: 1.5rem 1.5rem 1rem;
  display: grid;
  flex-direction: column;
  mat-card {
    .first-card{
      color: $btn-login-primary;
    }
    mat-card-title{
      color: $text-button-color-blue-primary;
      font-size: 1.2rem;
    }
    border-radius: 20px;
  }
  .block-cards{
    margin-top: 10px;
  }
  .input-file{
    display: none;
  }
  .container-checks{
    margin-top: 10px;
    padding: 0 1rem;
  }
  mat-form-field{
    padding: 0 1rem;
  }
  .container-card-info-perfil{
    margin: 1rem 0;
    mat-card {
      padding: 1rem 1.5rem;
    }
  }
  .who-are-you {
    mat-card {
      padding: 1rem 1.5rem;
      color: $btn-login-primary;
      background-color: $background-footer-header;
    }
  }
  .photo-principal{
    .avatar{
      img{
        display: flex;
        margin: 0 auto;
        max-width: 100px;
        border-radius: 8px;
      }
    }
  }
  .more-photos{
    justify-self: center;
    background-color: $background-color-insert-photos;
    border: 1px solid $border-color-insert-photos;
    margin: 5px;
    max-width: 150px;
    border-radius: 8px;
    img{
      width: 100%;
      max-height: 100px;
    }
  }
  .more-pictures{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .container-form{
    mat-form-field{
      display: block;
    }
  }
}
@media only screen and(min-width:700px){
  .container-cards{
    .display-grid-data-person{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and(min-width:700px){
  .container-cards{
    margin: 2rem auto;
  }
}
