@import "../../../../app.component.scss";

.container-cards{
  max-width: 720px;
  margin: 1.5rem 1.5rem 1rem;
  display: grid;
  flex-direction: column;
  mat-card {
    .first-card{
      color: $btn-login-primary;
    }
    mat-card-title{
      color: $text-button-color-blue-primary;
      font-size: 1.2rem;
    }
    border-radius: 20px;
  }
  .who-are-you {
    mat-card {
      padding: 1rem 1.5rem;
      color: $btn-login-primary;
      background-color: $background-footer-header;
    }
  }
  .profile-img{
    display: flex;
    margin: 0 auto;
    position: relative;
    width:80px;
    height: 68px;
    background-color: $background-color-insert-photos;
    border: 1px solid $border-color-insert-photos;
    border-radius: 8px;
    color: #909090;
    font-size: 80px;

  }
  .photo-principal{
    .avatar{
      img{
        width: 100%;
      }
      .profile-img::after{
        content:"add_a_photo";
        transform: scale(.2);
        display: block;
        position: absolute;
        bottom: -2px;
        right: -2px;
        width:20px;
        height:20px;
        border-radius: 100%;
        z-index: 3;
      }
      .profile-img::before{
        content:"";
        display: block;
        position: absolute;
        bottom: -10px;
        right: -10px;
        width:25px;
        height:25px;
        border-radius: 100%;
        background: $background-color-insert-photos;
        z-index: 1;
      }
    }
  }
  .container-checks{
    mat-slide-toggle{
      padding: 0 1rem;
    }

  }
  .more-photos{
    justify-self: center;
    background-color: $background-color-insert-photos;
    border: 1px solid $border-color-insert-photos;
    margin: 5px;
    max-width: 150px;
    border-radius: 8px;
  }
  .more-pictures{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .block-cards{
    margin-top: 10px;
  }
  .input-file{
    display: none;
  }
  mat-form-field{
    padding: 0 1rem;
  }
  .btn-return-background-2{
    margin-left: 0;
  }
  .container-form{
    mat-form-field{
      display: block;
    }
  }
}
@media only screen and(min-width:700px){
  .container-cards{
    margin: 2rem 3rem;
    .btn-next{
      padding: 0 25px;
    }
    .photo-principal{
      .avatar{
        img{
          width: 100%;
        }
        .profile-img{
          max-width: 200px;
          width:100px;
          height: 80px;
          font-size: 95px;
        }
        .profile-img::after{
          transform: scale(.2);
          bottom: 5px;
          right: 5px;
          width:20px;
          height:20px;
        }
        .profile-img::before{
          bottom: -10px;
          right: -10px;
          width:35px;
          height:35px;
        }
      }
    }
    .more-photos{
      max-width: 200px;
      img{
        width: 100%;
      }
      .profile-img{
        display: flex;
        justify-content: center;
        align-content: flex-end;
        width:150px;
        height: 90px;
        font-size: 107px;
      }
    }

    .display-grid-data-person{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .infos-person{
      grid-template-areas:
      "input-name input-email"
      "input-phone input-profession"
      "input-gender input-orientation"
      "input-text-area input-text-area"
      ;
    }
    .input-name{
      grid-area: input-name;
    }
    .input-email{
      grid-area: input-email;
    }
    .input-phone{
      grid-area: input-phone;
    }
    .input-profession{
      grid-area: input-profession;
    }
    .input-gender{
      grid-area: input-gender;
    }
    .input-orientation{
      grid-area: input-orientation;
    }
    .input-text-area{
      grid-area: input-text-area;
    }
  }
}

@media only screen and(min-width:800px){
  .container-cards{
    margin: 2rem auto;
  }
}
