<div class="container-modal-qr">
   <div class="content-close">
        <div class="close close-terms" (click)="onNoClick()">&times;</div>
    </div>
  <div class="container-itens-qr">
    <div class="text-qr">
      <div class="qr-title">Para fazer o Login com QR Code:</div>
      <div>
        <div class="qr-subtitle"><span>1.</span> Abra o Devotee no seu celular</div>
        <div class="qr-subtitle"><span>2.</span> Toque em Perfil <b>Perfil</b> <span><img src="" alt=""></span>e selecione <b> Devotee Web</b></div>
        <div class="qr-subtitle"><span>3.</span> Toque em <b>Escanear código</b></div>
        <div class="qr-subtitle"><span>4.</span> Aponte seu celular para essa tela para capturar o código</div>
      </div>
    </div>
    <div class="container-img-qr">
      <img src="../../../assets/QRCode-criar@2x.png" alt="">
    </div>
    <div class="create-account">
      Ainda não tem cadastro? <a >Cadastre-se</a>
    </div>
    <div class="download-copyright">
      <div class="download-app">
          <p>{{textQr.getApp}}</p>
          <div class="buttons-download">
              <a href="https://play.google.com/store/apps/details?id=com.phurshell.devotee&hl=pt_BR" target="_blank" rel="noopener noreferrer">
              <img src={{textQr.btnPlayStore}} alt="Botão play store"  ></a>
              <a href="https://apps.apple.com/br/app/devotee/id1331331692" target="_blank" rel="noopener noreferrer">
              <img src={{textQr.btnAppStore}} alt="Botão Apple store" ></a>
          </div>
      </div>
    </div>
  </div>
</div>
