<div class="container-profile">
  <div class="container-close">
    <div class="close cursor-pointer blue-2e2" (click)='onNoClick()' >&times;</div>
  </div>
  <div class="container-first-infos">
    <div class="container-profile-img">
      <img src="http://34.223.220.245/{{profileInfos.user.profile_image}}" alt="Foto de perfil">
      <img src="" alt="">
    </div>
    <div class="person-name blue-2e2">
      <span class="first-name">{{profileFirstName}}</span>
      <span  *ngIf="!profileInfos.user.first_name.indexOf(' ') === false" [style.display]='profileInfos.user.last_name ? "initial": "none"'> {{profileInfos.user.last_name}}</span>,
      <span>
        {{userAge}}
      </span>
      <span>
        <mat-icon>report</mat-icon>
      </span>
    </div>
    <div class="user-type blue-2e2">
      {{profileInfos.user.user_type}}
    </div>
  </div>
  <div class="about blue-2e2">
    "{{profileInfos.user.about}}"
  </div>
  <div class="block-images">
    <div class="container-first-card">
      <mat-card>
        <mat-card-title class="first-card">Fotos</mat-card-title>
      </mat-card>
      <div class="container-pictures">
        <mat-card>
          <div class="image">
            <img src="http://34.223.220.245/{{profileInfos.album.img1}}" onerror="this.onerror = null; this.src = '../../../assets/icon-person@2x.png'" alt="">
          </div>
          <div class="image">
            <img src="http://34.223.220.245/{{profileInfos.album.img2}}" onerror="this.onerror = null; this.src = '../../../assets/icon-person@2x.png'" alt="">

          </div>
          <div class="image">
            <img src="http://34.223.220.245/{{profileInfos.album.img3}}" onerror="this.onerror = null; this.src = '../../../assets/icon-person@2x.png'" alt="">
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="block-infos">
    <div class="container-first-card">
      <mat-card>
        <mat-card-title class="first-card">Sobre mim</mat-card-title>
      </mat-card>
    </div>
    <div class="container-infos">
      <mat-card>
        <h2 class="title blue-2e2"> Informações pessoais</h2>
        <div class="personal-information">
          <div class="container-phone-number aling-itens-c">
            <mat-icon>call</mat-icon> <span></span>
          </div>
          <div class="container-profession aling-itens-c" *ngIf="profileInfos.user.profession !== ''" >
            <mat-icon>work</mat-icon> <span>{{profileInfos.user.profession}}</span>
          </div>
          <div class="container-gender aling-itens-c" *ngIf="profileInfos.user.gender !== '' " >
            <mat-icon>person_pin</mat-icon> <span>{{profileInfos.user.gender}}</span>
          </div>
          <div class="container-orientation aling-itens-c"*ngIf="profileInfos.user.sexualorientation !== null" >
            <mat-icon>loyalty</mat-icon> <span>{{profileInfos.user.sexualorientation}}</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
