@import "../../app.component.scss";
.container-close{
  display: flex;
  justify-content: flex-end;
  .close{
    font-size: 2rem;
    color: $blue-2E2;
  }
  .container-profile{
    background-color: $blue-0BA;
  }
}
.container-first-infos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container-profile-img{
    max-width: 150px;
    border-radius: 100%;
    img{
      width: 100%;
      border-radius: 100%;
    }
  }
}
