<div class="container-profile">
  <div class="container-close">
    <div class="close" (click)='onNoClick()' >&times;</div>
  </div>
  <div class="container-first-infos">
    <div class="container-profile-img">
      <img src="http://34.223.220.245/{{profileInfos.user.profile_image}}" alt="Foto de perfil">
      <div *ngIf="'http://34.223.220.245/'+profileInfos.user.profile_image === ''" > ass</div>
      <img src="" alt="">
    </div>
    <div class="person-name" >
      {{profileInfos.user.first_name}}
      <span *ngIf="!profileInfos.user.first_name.indexOf(' ') === false">
        {{profileInfos.user.last_name}},
      </span>
      <span>
        {{userAge}}
      </span>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>
